<html>

  <body>

    <div id="thebody">

        <div class="wrapper">

          <div id="whitetext">
            <img src="../assets/DP.jpg" width="150px" height="150px" id="circle">
            <h3>P R O F I L E</h3>
            <hr>
            <p style="font-size: 13px">Sithembiso Leonard Luvuno, a 23 year-old individual, 23 years of age, born on the 30<sup>th</sup> March 1995. ID Number of 9503305276085
            <br>A South African, black male.
            </p> 
            <h3 align="right">CONTACT<hr></h3>
            <b>Email</b>
            <p><a href="mailto:spazgrafficz@outlook.com">spazgrafficz@outlook.com</a></p>
            <b>Residential Address</b>
            <p>4877 Ugago Street<br>Protea Glen Extension 3<br>JOHANNESBURG<br>1818</p>
            <b>SKILLS</b>
            <p><a href="https://en.wikipedia.org/wiki/Photography">Photography</a></p>
            <p><a href="https://en.wikipedia.org/wiki/Graphic_design">Graphic Design</a></p>
            <p><a href="https://en.wikipedia.org/wiki/Video_production">Video Production</a></p>
            <p><a href="https://en.wikipedia.org/wiki/Computer_programming">Computer Programming</a></p>
            <p><a href="https://www.webopedia.com/TERM/W/word_processing.html">Word Processing</a></p>
            <p><a href="https://en.wikipedia.org/wiki/Digital_art">Digital Art</a></p>
            <p>Good Interpersonal Communication Skills</p>
            <p>Ability to work well under pressure</p>
            <p>Conflict Resolution</p>

          </div>

          <div id="leftalign">
            <h2 style="font-size: 250%">Sithembiso Leonard Luvuno</h2><hr color="black">
            <h2>Graphic Designer</h2>
            <p>the following is a brief description of my qualifications and skills set.<br>I hope you will find this in order.</p>    
            <h1>Work Experience</h1>
            <h2>Absa</h2><hr>
            <p>WBE (Work-Place Based Experience</p>
            <i>2 Weeks Duration(2017)</i>
            <p>I was job shadowing a Systems Analyst and later ona Software Developer for Absa<br>
               for the duration of the first week. On the second week, I shadowed a SharePoint<br>
               Consultant and a Graphic Designer.
            </p>
            <h2>MLab</h2><hr>
            <i>@CodeTribe Academy</i>
            <p>6 months (2018) May- October</p>
            <h1>Education</h1>         
            <h2>Tetelo Secondary School<hr></h2>
            <sup>2009 - 2013</sup>   
            <p>Technical Subjects</p>
            <p>Passed Grade 12(Matric) with merit in Engineering Graphics and Design</p>
            <p>2013</p>     
            <h1>Higher Education Qualifications</h1>
            <h2>South West Gauteng TVET College</h2>
            <p>(2015 - 2017)</p>
            <b>Information and Communications Technology</b>
            <p>National Senior Certificate (Vocational)</p>
          </div>

        </div>

    </div>

  </body>

</html>