<html>
  <body>
    <div id="thebody">
  <div class="wrapper">
      <div id="whitetext">
          
            <img src="../assets/DP.jpg" width="150px" height="150px" id="circle">
        
                <h3>P R O F I L E</h3><hr>
                <p style="font-size: 13px">Sithembiso Leonard Luvuno, a 23 year-old individual, 23 years of age, born on the 30<sup>th</sup> March 1995. ID Number of 9503305276085
                <br>A South African, black male.
                </p> 
              
                  <h3 align="right">CONTACT<hr></h3>
            
                <b>Email</b>
                <p><a href="mailto:spazgrafficz@outlook.com">spazgrafficz@outlook.com</a></p>
                <b>Residential Address</b>
                <p>4877 Ugago Street<br>Protea Glen Extension 3<br>JOHANNESBURG<br>1818</p>
                
            <b>SKILLS</b>
                  <p><a href="#">Conflict Resolution</a></p>
                  <p><a href="#">Photography</a></p>
                  <p><a href="#">Graphic Design</a></p>
                  <p><a href="#">Video Pre & Post Production</a></p>
                  <p><a href="#">Programming</a></p>
                  <p><a href="#">Word Processing</a></p>
                  <p><a href="#">Sketch Art</a></p>
                  <p><a href="#">Good Interpersonal Communication Skills</a></p>
                  <p><a href="#">Ability to work well under pressure</a></p>
            
    
          
        </div>
    <div id="leftalign">
      
              <h2 style="font-size: 250%">Sithembiso Leonard Luvuno</h2><hr color="black">
              <h2>Resume</h2>
              <p>the following is a brief description of my qualifications and skills set.<br>I hope you will find this in order.</p>
        
      
    <h1>Education</h1>
        
        
          
              <p>Tetelo Secondary School</p>
              <p>Technical Subjects</p>
              <p>Passed Grade 12(Matric) with merit in Engineering Graphics and Design</p>
              <p>2013</p>
          
        
        
        <h1>Higher Education Qualifications</h1>
        
        
          <h2>South West Gauteng TVET College</h2>
              <p>(2015 - 2017)</p>
              <b>Information and Communications Technology</b>
              <p>National Senior Certificate (Vocational)</p>
         
    </div>

    
  </div>
  </div>
</body>
</html>